@import 'theme/theme';

.sidebar-item {
  @include flexCenter;
  border-radius: $shapeL;
  color: $textSidebar;
  flex: 1;
  padding: $spacingS $spacingM;

  &--selected {
    color: $textMain;
  }

  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    align-items: center;
    display: flex;

    svg path {
      fill: $textSidebar
    }
  }

  &--selected &__icon svg path {
    fill: $textMain
  }

  p {
    @include fontStyle($textSidebar, 8px, 500);
    margin: $spacingXXS 0 0 0;
  }
}

@include laptop {

  .sidebar-item {
    flex: 0;
    justify-content: space-between;
    margin-bottom: $spacingXS;

    &:last-child {
      margin: auto 0 0 0;
    }

    &--selected {
      background-color: $bgSelectedItem;
    }

    &__label {
      flex-direction: row;
    }

    &__icon {
      margin-right: $spacingXS;
    }

    p {
      @include fontStyle($textSidebar, 16px, 600);
      margin: 0;
    }

  }

}