
$bgDarker                 : #020816;
$bgMain                   : #202A43;
$bgSelectedItem           : #212944;
$bgSidebar                : #141B2C;
$bgSidebarHover           : #27334F;
$bgSuccess                : #82C94E;
$bgSuccessActive                : #99C679;
$bgWarning                : #CD5050;
$bgModal                  : #141B2C;
$bgModalOverlay           : #020713E6;
$bgModalSeparator         : #1F2942;


$ctaDisalbed              : #425277;
$ctaActive                : #4788C7;
$ctaActiveHover           : #74ACE2;

$textMain                 : #FFFFFF;
$textDarker               : #CBDDF0;
$textSidebar              : #A9C8E8;
$textDark                 : #212944;
$textSuccessActive        : #E6E6E6;