$unit: 5;

$spacingXXS  : $unit + px;
$spacingXS   : ($unit * 2) + px;
$spacingS    : ($unit * 3) + px;
$spacingM    : ($unit * 4) + px;
$spacingL    : ($unit * 5) + px;
$spacingXL   : ($unit * 6) + px;
$spacingXXL  : ($unit * 7) + px;
$spacingXXXL : ($unit * 8) + px;

$shapeS      : 4px;
$shapeM      : 8px;
$shapeL      : 12px;