@import 'theme/theme';

.task {
  align-items: center;
  background-color: $bgSidebar;
  border-radius: $shapeL;
  color: $textSidebar;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $spacingS;
  outline:0px solid transparent;
  padding: $spacingM;
  transition: outline .2s ease-out;

  &:last-child {
    margin: 0;
  }

  &__trash {
    cursor: pointer;
    margin-left: auto;
    opacity: 0;
    transition: opacity .2s ease-out;
  }

  &__status {
    @include statusBullet;
    margin: 0 $spacingXS 0 $spacingS;
  }

  &__description {
    @include fontStyle($textDarker, 16px, 500);
    margin: 0;

    &--striked {
      color:$ctaDisalbed;
      text-decoration:line-through;
    }
  }

}


@include laptop {
  .task {
    &:hover {
      outline:4px solid $bgSidebar;
    }

    &:hover &__trash {
      opacity: 1;
    }
  }
}