@import 'theme/theme';

.task {
  align-items: center;
  background-color: $bgSidebar;
  border-radius: $shapeL;
  color: $textSidebar;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $spacingS;
  padding: $spacingM;
  position: relative;

  &:last-child {
    margin: 0;
  }

  &__action { 
    align-items: center;
    display: flex;
    position: relative;
    z-index: 10;
  }
  &__content {
    align-items: center;
    display: flex;
    flex: 1;
    position: relative;
    z-index: 10;
  }

  &__trash {
    cursor: pointer;
    margin-left: auto;
    opacity: 0;
    transition: opacity .2s ease-out;
  }

  &__status {
    @include statusBullet;
    margin: 0 $spacingXS 0 $spacingS;
  }

  &__description {
    @include fontStyle($textDarker, 16px, 500);
    margin: 0;

    &--striked {
      color:$ctaDisalbed;
      text-decoration:line-through;
    }
  }

}


@include laptop {
  .task {
    &:before {
      content: '';
      display: block;
      border-radius: $shapeL;
      background-color: transparent;
      bottom: -5px;
      left: -3px;
      opacity: 1;
      position: absolute;
      right: -3px;
      top: -5px;
      transition: background-color .2s ease-out;
      z-index: 1;
    }
    
    &:hover {
     &:before {
      background-color: $bgSidebar;
     }
    }

    &:hover &__trash {
      opacity: 1;
    }
  }
}