@import 'theme/theme';

.item-counter {
  align-items: center;
  background-color: $textMain;
  border-radius: 10px;
  display: none;
  justify-content: center;
  padding: 2px $spacingXXS;
  width: 30px;
  height: 20px;

  &__text {
    @include fontStyle($textDark, 12px, 400);
    margin: 0;
  }
}

@include laptop {

  .item-counter {
    display: flex;
  }

}